@import './assets/Inter/inter.css';
@import 'frappe-ui/src/style.css';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}
::-webkit-scrollbar {
    width: 4px;
    /* Thin width */
    height: 5px;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #b0b3b0;
    /* Scrollbar color */
    border-radius: 8px;
  }
  
  ::-webkit-scrollbar-track {
    background: #f0f0f0;
    /* Track color */
  }
  
  .scroll-smooth {
    scroll-behavior: smooth;
  }
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    /* bg-primary */
    --primary-color: #FF5722;
    --secondary-color: #F5F5F5;
    --tertiary-color: #E23D90;
    --quaternary-color: #D9D9D9;
    /* text color  */
    --primary-color: #FFFFFF;
    --secondary-color: #FF5722;
    --tertiary-color: #FF7C3A;
    --quaternary-color: #E23D90;

}